@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
/* --- MAIN STYLE ---*/
:root {
  --primary-color:#20272e; 
  /* //#29abff; */
  /* --primary-color: rgb(4, 88, 243); */
}

body {
  background: #f5f5f5;
  margin: 0;
  font-family: "Poppins", sans-serif;

}


a {
  color: #444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

/* --- NAVIGATION STYLE ---*/
.nav-bar {
  background: white;
  padding: 1em;
}

.nav-bar .logo-nav {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.2em;
}
#brand-font {
  font-family: "Pacifico", cursive;
}
.nav-bar .logo-nav span {
  color: #29abff;
}

.nav-bar nav {
  display: none;
}

.nav-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.nav-bar .mobile-menu {
  cursor: pointer;
}

/* --- HERO STYLE ---*/
.hero {
  text-align: center;
}

.left-col .sub-head {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.2em;
  color: #6e6c6c;
}

.left-col h1 {
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: bolder;
  margin-top: 0.1em;
  line-height: 1.3em;
}

.primery-cta {
  background-color: #29abff;
  color: #fff;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.watch-video-cta {
  display: block;
  margin-top: 1em;
}

.watch-video-cta img {
  display: line-block;
  margin-top: -0.5em;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 2.5em;
}

.hero-img {
  width: 80%;
  margin-top: 3em;
  /* color:#29abff; */
  
}

/* --- FEATURES STYLE ---*/
.features-section {
  background: #20272e;
  color: #fff;
}

.features-section ul {
  margin: 0;
  padding-left: 0.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.features-section li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

.features-section li:before {
  content: "";
  position: absolute;
  left: -2em;
  width: 20px;
  height: 20px;
  background: url("./Img/bullet.svg");
  background-size: contain;
}

.features-section img {
  display: none;
}

/* --- TEST STYLE ---*/
/*.test-monials-section {
  background: var(--primary-color);
  color: #fff;
}*/

/* --- CONTACT STYLE ---*/

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #20272e;
  height: 50vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 4em;
}

nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
  text-align: right;
  -webkit-transition: font-weight 0.2s;
  transition: font-weight 0.2s;
}

nav li a:hover {
  font-weight: bold;
  border: 3px solid var(--primary-color) ;
  border-radius: 5em;
  background-color: var(--primary-color);
  color:white;
}

.mobile-menu-exit {
  display: block;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

/* --- 769px STYLE ---*/
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .nav-bar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .nav-bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .nav-bar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar nav a {
    color: #000;
    padding: 0.1em 1em;
    font-size: 1em;
  }
  .nav-bar ul.primary-nav {
    margin: 0;
  }
  .nav-bar li.current a {
    font-weight: bold;


  }
  .nav-bar li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid #29abff;
    border-radius: 5em;
    font-weight: bold;
    margin-top: -0.2em;
  }
  .nav-bar li.go-premium-cta a:hover {
    background-color: var(--primary-color);
    color: #fff;
    border: 3px solid var(--primary-color);

  }
}

/* --- 1080px STYLE ---*/
@media only screen and (min-width: 1080px) {
  .container {
    width: 1050px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .left-col {
    margin: 4em 3em 0 5em;
  }
  .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .primery-cta {
    margin-right: 1em;
  }
  .features-section ul {
    display: block;
    margin-left: 5em;
  }
  .features-section ul li {
    font-size: 1.4em;
  }
  .features-section ul li::before {
    margin-top: -0.1em;
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }
  .test-monials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
  .test-monials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-section .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-section iframe {
    height: 100%;
    margin-left: 5em;
  }
}

/* --- 1450px STYLE ---*/
@media only screen and (min-width: 1450px) {
  .features-section::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 20em;
    background: var(--primary-color);
    left: 0;
    top: -4em;
  }
  .features-section::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("./Img/dots.svg") no-repeat;
    left: 4.5;
    top: 2em;
  }
  .main {
    width: 100%;

    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29abff;
  }

  .profile-card {
    position: relative;
    font-family: sans-serif;
    width: 160px;
    height: 160px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
    margin: 0 25px;
  }
  .profile-card:hover {
    border-radius: 10px;
    height: 220px;
  }
  .profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 99;
  }
  .profile-card:hover .img {
    transform: translateY(-60px);
  }
  .img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
  }
  .profile-card:hover img {
    border-radius: 10px;
  }
  .caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: 0.6s;
  }
  .profile-card:hover .caption {
    opacity: 1;
  }
  .caption h3 {
    font-size: 21px;
    font-family: sans-serif;
  }
  .caption p {
    font-size: 15px;
    color: #0c52a1;
    font-family: "Pacifico", cursive;
    margin: 2px 0 9px 0;
  }
}
